<div class="center-container">
    <div>
        <div style="padding: 0, 100%">
            <img src="../assets/pengu/whitepengublackeye.svg" height="400px">   
        </div>
        <i class="header-font" style="display:block;font-size:64px">
            pengu.gg
        </i>
        <small class='header-font' style="font-size: 18px">
                a teamfight tactics informational site
        </small>
        <br>
        <br>
        <div style="display:block" class="ui-inputgroup">
            <input #search (keyup.enter)="searchPage(search.value)" type="text" size="40" pInputText/>
            <i class="pi pi-search"></i>
        </div>
    </div>
</div>