button {
  color:white;
  display:inline
}

p {
  display:inline
}

.bold-header {
  font-family: "Overpass", Overpass, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.container {
  background-color: #003333;
  padding: 1em
}

.hover-button {
  transition: transform .2s;
  position: relative;
  margin: 7px
}
  
.hover-button:hover {
  transform: translate3d(0px, -5px, 0px);
  cursor: pointer;
}

.item-wrapper {
  position: relative;
  display: inline-block;
}

.item-child {
  padding: 8px;
}

.x-icon {
  position: absolute;
  right: 0px;
  transition: transform .2s;
}

.x-icon:hover{
  transform: translate3d(-30px, 30px, 0px) scale(4);
  cursor: pointer;
}