/* You can add global styles to this file, and also import other style files */
html {
    background-color: #001111;
    color: white;
}
body {
  margin: 0 0 0 0
}

.header-font {
    font-family: "Varela Round", Varela, sans-serif;
}

.fill-parent {
    width: 100%;
    height: 100%;
}
