<div class="p-grid">
  <div class="p-col">{{summoner$.name}}</div>
  <div class="p-col">{{summoner$.tier}} {{summoner$.rank}}</div>
  <div class="p-col"><div class="item html">
    <h2 class="header-font">
        {{getWinRate()}}%
    </h2>
    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
     <g>
      <title>Layer 1</title>
      <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none"
      [ngStyle]="{'stroke-dashoffset': circleNumber()}"/>
     </g>
    </svg>
</div></div>
</div>
