.nav-parent {
    background-color: #002828;
    margin:0px;
    padding:0px;
}

.nav-parent a {
    float:left;
    color: #ffffff;
    width: 50%;
    height: 2em;
    text-decoration: none;
    font-size: 40px;
    transition: .2s;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #003333
}

.nav-parent a:hover {
    vertical-align: -webkit-baseline-middle;
    background-color: #004444;
}
