.nav-parent {
    background-color: #002828;
    margin:0px;
    padding:0px;
}

.nav-parent a {
    float:left;
    color: #ffffff;
    width: 42.5%;
    height: 2em;
    text-decoration: none;
    font-size: 30px;
    transition: .2s;
    border-bottom: 1em white;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #003333
}

.nav-parent a:hover {
    border-bottom-width: 4px;
    border-style: solid;
}

.nav-parent div {
    float:left;
    color: #ffffff;
    width: 5%;
    height: 2em;
    text-decoration: none;
    font-size: 30px;
    transition: .2s;
    margin:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: goldenrod;
    color: black;
}

img {
    display: inline;
}